<% for(let i = 0; i < result.length; i++) {%>
    <h1><%= i+1 %>번째 계정</h1>
    <div>name: <%= result[i].name %></div>
    <div>phone: <%= result[i].phone %></div><br />
    <div>age: <%= result[i].age %></div><br />
    <% } %>