<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>회원가입</title>
        <link rel="stylesheet" href="index.scss">
    </head>
    <body>
        <form class="login" action="/phone" method="post">
            name: <input type="text" name="name" placeholder="Username" /> <br/>
            phone: <input type="text" name="phone" placeholder="010" /> <br/>
            age: <input type="number" name="age" placeholder="99" />
            <button type="submit">가입</button>
        </form>
    </body>
</html>